@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
}

/* Navbar related style start */
nav {
    max-width: 1200px;
    /* border: 2px solid red; */
    margin: 50px auto;
    display: flex;
    align-items: center;

}

.left-nav-container {
    width: 50%;
    /* border: 2px solid yellow; */
    display: flex;
    column-gap: 12px;
    justify-content: flex-start;
    align-items: center;
}

.left-nav-container img {
    width: 60px;
    height: 52px;
    object-fit: cover;
}

.left-nav-container h3 {
    color: #131318;
    font-size: 1.9rem;
    font-weight: 700;
}

.left-nav-container .travel {
    color: #FF5400;
    font-size: 2rem;
    font-weight: 900;
}


.right-nav-container {
    width: 50%;
    /* border: 2px solid red; */
}

.right-nav-container ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 45px;
}

.right-nav-container li {
    list-style-type: none;
}

.right-nav-container li a {
    text-decoration: none;
    color: #424247;
    font-family: Mulish;
    font-size: 1.3rem;
    font-weight: 400;
}

.right-nav-container ul .home {
    color: #FF5400;
    font-size: 1.3rem;
    font-weight: 700;
}

.right-nav-container .icon {
    display: none;
}

/* Navbar related style end */
/* banner related style start */
.banner-container {
    max-width: 1200px;
    height: 500px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-title {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 25px;
}

.banner-description {
    color: white;
    font-size: 16px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 80px;
}

.banner-input-container {
    width: 800px;
    height: 80px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.banner-input-container input {
    width: 170px;
    height: 50px;
    border: none;
    border-radius: 8px;
    background: #FFF;
    padding-left: 10px;
    padding-right: 10px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
}

.banner-input-container select {
    width: 170px;
    height: 50px;
    border-radius: 8px;
    background: #FFF;
    padding-left: 10px;
    padding-right: 10px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
}

.banner-input-container button {
    border-radius: 8px;
    background: #FF5400;
    height: 50px;
    width: 170px;
    border: none;

    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
}

.banner-input-container button i {
    margin-right: 10px;
}

/* banner related style end */
/* Popular tour section start */
.popular-tour-container {
    max-width: 1200px;
    margin: 80px auto;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.popular-tour-text-container {
    width: 50%;
    /* border: 1px solid red; */
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-startr;
}

.popular-tour-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.popular-tour-description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.popular-tour-text-container ul {
    margin-left: 40px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

.popular-tour-text-container ul li {
    line-height: 30px;
}

.popular-tour-text-container button {
    margin-top: 20px;
    border-radius: 8px;
    background: #FF5400;
    height: 40px;
    width: 110px;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 13px 10px 13px;
}

.popular-tour-image-container {
    width: 50%;
}

.popular-tour-image-container img {
    width: 85%;
    height: 86%;
    display: block;
    margin: auto;
    margin-right: 5px
}

/* Popular tour section end */
/* Your destination related style start */
.destination-container {
    max-width: 1200px;
    margin: 80px auto;
}

.destination-text-container {
    /* border: 1px solid red; */
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.destination-text-title {
    margin-bottom: 20px;
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

/* 
        commmon-p elements
*/
.common-p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.destination-image-container .row {
    width: 100%;
    /* height: 300px; */
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.row div {
    width: 50%;
    height: 300px;
    position: relative;
    /* border: 1px solid red; */
}

.row div img {
    width: 100%;
    height: 100%;
}

.row div h2 {
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 800;
}

.row .north-america {
    width: 70%;
}

.row .kashmir {
    width: 35%;
}

.row .bandarban {
    width: 65%;
}
/* Extra section related style */
.transport-container {
    max-width: 1200px;
    text-align: center;
    margin: 30px auto;
    /* border: 2px solid red; */
}

.transport-container-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 35px;
}

.transport-bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;

}

.transport-image-container {
    width: 45%;
    /* height: 600px; */
    /* border: 1px solid yellow; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;

    border-radius: 20px;
    margin: 5px
}

.transport-image-container .common-p {
    margin: 10px;
}

.transport-image-container img {
    width: 90%;
    height: 260px;
    border-radius: 20px;
    margin: 10px auto;
}

.transport-image-container .transport-button {
    color: #131318;
    font-size: 2rem;
    font-weight: 600;
    padding: 7px 26px;
    border-radius: 20px;
    width: 90%;
    border: none;
    background-color: white;
    /* margin-top: 15px; */
    margin-bottom: 20px;

    transition: background-color 0.1s linear, font-weight 2s linear;
}

.transport-button:hover {
    background-color: #FF5400;
    color: #FFF;
    font-weight: 600;
}
/* Extra section related style */
/* Why Choose us related style start */
.why-choose-container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 15px 10px;
    text-align: center;
    /* border: 1px solid black; */
}

.why-choose-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    margin: 20px auto;
}

.why-choose-box-container {
    width: 100%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.why-choose-box {
    width: 45%;
    height: 250px;
    text-align: left;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 30px;
    border-radius: 16px;
}

#background-1 {
    border: 1px solid rgba(251, 181, 99, 0.20);
    background-color: rgba(251, 181, 99, 0.05);
}

#background-2 {
    border: 1px solid rgba(41, 206, 246, 0.20);
    background-color: rgba(41, 206, 246, 0.05);
}

#background-3 {
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.why-choose-box h3 {
    margin: 20px auto;
}

.why-choose-box img {
    width: 75px;
    height: 70px;
}
/* Why Choose us related style end */
/* start newsletter related style */
.newsletter-cotainer {
    max-width: 1200px;
    /* border: 2px solid black; */
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter-text-container {
    width: 40%;
    padding: 40px;
    margin-right: 30px;
    border-radius: 16px;
    border: 1px solid #FF5400;
}

.newsletter-text-container h3 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.newsletter-text-container P {
    margin-top: 15px;
}

.newsletter-text-container hr {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(19, 19, 24, 0.10);
}

.newsletter-text-container input {
    display: block;
    margin-bottom: 15px;
    height: 50px;
    width: 80%;
    padding: 10px;
    color: rgba(19, 19, 24, 0.30);
    font-size: 16px;
    font-weight: 400;

    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;

}

.newsletter-text-container .subscribe {
    border-radius: 8px;
    background-color: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}

.newsletter-image-container {
    width: 55%;
    position: relative;
}

.newsletter-image-container img {
    width: 100%;
}

.newsletter-image-container .percentage {
    width: 310px;
    height: 100px;
    border-radius: 10px;
    color: #FFF;
    text-align: center;
    background: #FF5400;
    position: absolute;
    bottom: 65px;
    right: 0;
    transform: rotate(-25deg);
}

.percentage p {
    margin-top: 20px;
}
/* end newsletter related style */
/* Footer section start */
footer {
    background-color: rgba(19, 19, 24, 0.05);
    /* height: 500px; */
}

.footer-container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.footer-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 110px;
}

.footer-title h3 {
    color: #131318;
    font-size: 1.9rem;
    font-weight: 700;
    margin-left: 10px;
}

.footer-title .travel {
    color: #FF5400;
    font-size: 2rem;
    font-weight: 900;
}

.footer-container P {
    margin: 15px 0;
}

.footer-icon span {
    margin: 10px;
}

.footer-container .footer-hr {
    width: 60%;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
    margin: 50px 0;
}

.footer-container pre {
    color: #131318;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 110px;
}
/* Footer section end */